name: Develop build

on:
  pull_request:
    branches:
      - main
    paths:
      - images/production/**
      - overrides/**
      - tests/**
      - compose.yaml
      - docker-bake.hcl
      - example.env
      - .github/workflows/build_develop.yml

  schedule:
    # Every day at midnight UTC+7
    - cron: 0 17 * * *

  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/docker-build-push.yml
    with:
      repo: golfy
      version: develop
      push: ${{ github.repository == 'go-west-tech-jsc/frappe_docker' && github.event_name != 'pull_request' }}
      python_version: 3.14.2
      node_version: 24.12.0
    secrets:
      APPS_JSON_BASE64: ${{ secrets.APPS_JSON_BASE64 }}
      REPO_URL: ${{ secrets.REPO_URL }}
